@media screen and (max-width: 600px) {
  .body {
    width: 100%;
    margin: auto;
  }
  .body .bloc_page .header .logo {
    width: 50%;
    margin-top: 50px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .body .bloc_page .header .bloc__localisation {
    background: rgb(234, 234, 234);
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding-left: 27%;
    font-family: "Roboto", sans-serif;
    font-size: 130%;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgb(221, 213, 213) inset;
  }
  .body .bloc_page .header .bloc__localisation .bloc__localisation--logo {
    display: block;
    align-self: center;
    font-size: 140%;
  }
  .body .bloc_page .header .bloc__localisation .bloc__localisation--ville--main {
    font-size: 120%;
    padding-left: 7%;
  }
  .body .bloc_page .header .bloc__reservation {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(246, 246, 246);
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--titre {
    font-weight: bold;
    width: 70%;
    margin: auto;
    font-size: 250%;
    text-align: center;
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--texte--main {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--texte--main .bloc__reservation--texte {
    font-size: 170%;
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--bouton {
    margin: auto;
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    background: #9356DC;
    box-shadow: 4px 4px 8px rgb(221, 213, 213);
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--bouton .bloc__reservation--bouton--link {
    text-decoration: none;
    font-size: 130%;
  }
  .body .bloc_page .header .bloc__reservation .bloc__reservation--bouton .bloc__reservation--bouton--texte--main .bloc__reservation--bouton--texte {
    background: none;
    border: none;
    padding-bottom: 7px;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 30px;
  }
  .body .bloc_page .main {
    font-family: "Roboto", sans-serif;
  }
  .body .bloc_page .main .section__fonctionnement {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement {
    width: 100%;
    display: flex;
    border-radius: 30px;
    height: 100px;
    margin-bottom: 30px;
    background: #F6F6F6;
    box-shadow: 4px 4px 8px rgb(221, 213, 213);
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement .bloc__fonctionnement--numero p {
    margin-top: 35px;
    font-size: 120%;
    position: relative;
    right: 18px;
    background: #9356DC;
    padding: 8px;
    text-align: center;
    width: 80%;
    border-radius: 100%;
    color: white;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement .bloc__fonctionnement--logo {
    height: 35%;
    font-size: 200%;
    margin: auto;
    margin-left: 25px;
    color: #7E7E7E;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement .bloc__fonctionnement--logo--bis {
    font-size: 140%;
    padding-top: 15px;
    width: 7%;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement .bloc__fonctionnement--texte--main {
    width: 60%;
    font-size: 160%;
    height: 80%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-right: 100px;
  }
  .body .bloc_page .main .section__fonctionnement .section__fonctionnement--flexbox .bloc__fonctionnement--color {
    background-color: #F5EDFF;
  }
  .body .bloc_page .main .section__restaurants {
    width: 90%;
    background: #F6F6F6;
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1600px;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants {
    width: 100%;
    background: white;
    margin-bottom: 50px;
    border-radius: 30px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgb(221, 213, 213);
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien {
    text-decoration: none;
    color: black;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--image {
    width: 100%;
    display: block;
    height: 235px;
    background-color: white;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--image--etiquette {
    color: green;
    width: 20%;
    padding: 5px;
    text-align: center;
    background: #99E2D0;
    border-radius: 4px;
    position: relative;
    left: 73%;
    bottom: 93%;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--white {
    display: flex;
    margin-left: 10px;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--white .card__restaurants--white--left {
    font-size: 145%;
    height: 20%;
    padding-left: 20px;
    width: 75%;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--white .card__restaurants--white--left .card__restaurants--white--left--ligne1 {
    margin-bottom: 0;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--white .card__restaurants--white--left .card__restaurants--white--left--ligne2 {
    padding-top: -20px;
    margin-top: 5px;
  }
  .body .bloc_page .main .section__restaurants .section__restaurants--flexbox .card__restaurants .card__restaurants--lien .card__restaurants--white .card__restaurants--white--logo {
    height: 15%;
    display: block;
    font-size: 250%;
    padding-top: 30px;
    margin-left: 0%;
  }
  .body .footer {
    padding-left: 5%;
    color: white;
    background-color: #353535;
    padding-bottom: 20px;
  }
  .body .footer .bloc__footer {
    color: white;
  }
  .body .footer .bloc__footer .bloc__footer--logo {
    width: 33%;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .body .footer .bloc__footer .bloc__footer--flexbox1 {
    display: flex;
  }
  .body .footer .bloc__footer .bloc__footer--flexbox1 .bloc__footer--flexbox1--lien {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 31%;
    margin-bottom: 15px;
  }
  .body .footer .bloc__footer .bloc__footer--flexbox1 .bloc__footer--flexbox1--lien_2 {
    padding-left: 40px;
    border: green 1px solid;
  }
  .body .footer .bloc__footer .bloc__footer--flexbox2 {
    display: flex;
  }
  .body .footer .bloc__footer .bloc__footer--flexbox2 .bloc__footer--flexbox2--lien {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 26.5%;
  }
  .body .footer .bloc__footer .bloc__footer--ligne3 {
    width: 19.5%;
  }
  .body .footer .bloc__footer .bloc__footer--ligne3 p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .body .footer .bloc__footer .bloc__footer--ligne3 .bloc__footer--ligne3--lien {
    text-decoration: none;
    color: white;
  }
  .body .footer .bloc__footer .bloc__footer--ligne4 {
    width: 9%;
  }
  .body .footer .bloc__footer .bloc__footer--ligne4 p {
    margin-top: 0;
  }
  .body .footer .bloc__footer .bloc__footer--ligne4 .bloc__footer--ligne4--lien {
    text-decoration: none;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */