@import "../Utils/_variables.scss";
@import "../Layouts/_form.scss";




.main-loading {
    height: 1200px;
    text-align: center;
    line-height: 1200px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    position:fixed;
    top: 0%; left: 0%; bottom: 0%; right: 0%;
    animation: loading-text 3s linear 1 forwards;
    z-index: -1;
}

.loading-circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-left: $primary-color 8px solid;
    border-right: $primary-color 8px solid;
    border-top: $secondary-color 8px solid;
    border-bottom: $secondary-color 8px solid;
    z-index: 9999;
    position:fixed;
    margin: auto;
    top: 0%; left: 0%; bottom: 0%; right: 0%;
    animation: loading-main 3s linear 1 forwards;
    z-index: -1;
}

.loading-square {
    width: 20px;
    height: 20px;
    border-left: $third-color 2px solid;
    border-right: $third-color 2px solid;
    border-top: $secondary-color 2px solid;
    border-bottom: $secondary-color 2px solid;
    z-index: -1;
    position:fixed;
    margin: auto;
    top: 0%; left: 0%; bottom: 0%; right: 0%;
    animation: loading 3s linear 1 forwards;
} 


@media screen and (max-width: 768px) {



.body-accueil {
    width: 100%;
    margin: auto;

.bloc_page {
    animation: apparition-page 1s 2.8s both;
    z-index: 1;
    
.header {

    .logo {
        width: 50%;
        margin-top: 50px;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 15px;


    }

    .bloc__localisation {
        background: rgb(234, 234, 234);
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgb(221, 213, 213) inset;


        .bloc__localisation--logo {
            display: block;
            align-self: center;
        }

        .bloc__localisation--ville--main {
            font-size: 24px;
            padding-left: 7%;

            .bloc__localisation--ville {
            
            }
        }
    }





    .bloc__reservation {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        background: rgb(246, 246, 246);


        .bloc__reservation--titre {
            font-weight: bold;
            width: 70%;
            margin: auto;
            font-size: 50px;
            text-align: center;
        }

        .bloc__reservation--texte--main {
            width: 85%;
            margin: auto;
            text-align: center;


            .bloc__reservation--texte {
                font-size: 30px;
                font-weight: 100;
            }
        }

        .bloc__reservation--bouton {
            margin: auto;
            width: 40%;
            height: 70px;
            overflow: hidden;
            text-align: center;
            border-radius: 30px;
            background-image: linear-gradient(to top, $primary-color, $secondary-color);
            box-shadow: 4px 4px 8px rgb(184, 179, 179);
            
            &:hover {
                opacity: 0.85;
                box-shadow: 8px 8px 12px rgb(161, 157, 157);
                .bloc__reservation--bouton--texte--main {

                }
            }




            .bloc__reservation--bouton--link {
                text-decoration: none;
                font-size: 24px;
                height: 70px;
                border-radius: 30px;
                background: none;
                border: none;
                color: white;
                display: flex;
                align-items: center;
                cursor: pointer;
                width: 100%;
                justify-content: center;
            }
        }
    }
} //header//


.main {
    font-family: 'Roboto', sans-serif;
    


    .section__fonctionnement {
        margin-top: 40px;
        margin-left: calc(5% + 20px);
        margin-right: 5%;

        .section__fonctionnement--titre {

        }

        .section__fonctionnement--flexbox {
            display: flex;
            flex-direction: column;
            width: 98%;
            background-color: white;
            
            & :hover {
                background-color: rgb(245, 237, 255);
                transition: background-color 250ms;
                .bloc__fonctionnement--logo {
                    color: $primary-color;
                }
            }
            .bloc__fonctionnement {
                width: 100%;
                display: flex;
                border-radius: 30px;
                height: 100px;
                margin-bottom: 30px;
                cursor: default;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);

           


                .bloc__fonctionnement--numero {

                }
                .bloc__fonctionnement--numero p  {
                    margin-top: 35px;
                    font-size: 28px;
                    position: relative;
                    right: 18px;
                    background: $primary-color;
                    padding: 8px;
                    text-align: center;
                    width: 80%;
                    border-radius: 100%;
                    color: white;
                }
                .bloc__fonctionnement--logo {
                    height: 35%;
                    font-size: 40px;
                    margin: auto;
                    margin-left: 25px;
                    transition: color 250ms;                }

                .bloc__fonctionnement--texte--main {
                    width: 80%;
                    font-size: 35px;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;
                    margin-left: 5%;
                    padding-left: 5%;
                    text-align: center;
                    align-items: center;
                    border-radius: 0 30px 30px 0;

                    .bloc__fonctionnement--texte {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }


    .section__restaurants {
        width: 90%;
        background: #F6F6F6;
        margin-top: 40px;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;


        .section__restaurants--titre {

        }

        .section__restaurants--flexbox {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 1600px;

            .card__restaurants {
                width: 100%;
                position: relative;
                background: white;
                margin-bottom: 50px;
                border-radius: 30px;
                height: 350px;
                box-shadow: 0px 4px 4px rgb(221, 213, 213);
                overflow: hidden;

                .card__restaurants--white--logo--before {
                    height: 12%;
                    position: absolute;
                    left: 75%;
                    top: 80%;
                    font-size: 250%;
                    z-index: 1;
                    
                        & :hover {
                            background-image: linear-gradient(to top, $primary-color, $secondary-color);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation-name: contour;
                            animation-duration: 200ms;

                        & ~ .card__restaurants--white--logo--after {
                            animation-name: coeur;
                            animation-duration: 200ms;
                            transform-origin: center;
                            animation-fill-mode: both;
                        }
                    
                        }
            
                    .card__restaurants--white--logo--after {
                        position: relative;
                        bottom: 44.5px;
                        right: -1px;
                        z-index: -1;
                        font-size: 90%;
                        background-image: linear-gradient(to top, $primary-color, $secondary-color);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: scale(0);
                        animation-fill-mode: both;
                        
                    }
                }

                .card__restaurants--lien {
                    text-decoration: none;
                    color: black;
                    object-fit: cover;


                    .card__restaurants--image {
                        width: 100%;
                        display: block;
                        height: 250px;
                        background-color: white;
                        object-fit: cover;
                        border-radius: 30px 30px 0 0;
                    }

                    .card__restaurants--image--etiquette {
                        color: green;
                        width: 15%;
                        padding: 5px;
                        text-align: center;
                        background: $third-color;
                        border-radius: 4px;
                        position: absolute;
                        right: 5%;
                        top: 5%
                    }
                    .card__restaurants--white {
                        display: flex;    
                        height: 100px;
                        width: 75%;
                        border-radius: 30px;
                        align-items: center;

                        .card__restaurants--white--left {
                            font-size: 25px;
                            padding-left: 20px;
                            width: 75%;

                            .card__restaurants--white--left--ligne1 {
                                margin-bottom: 0;
                                margin-top: 0;
                                padding-top: 0;
                            }
                            .card__restaurants--white--left--ligne2 {
                                padding-top: 0px;
                                margin-top: 5px;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }    
                
                }

            }
        }
    }


} //main//


} //bloc_page//




} //body//

} //media queries//





@media screen and (min-width: 769px) and (max-width: 991px) {

.body-accueil {




.bloc_page {
    animation: apparition-page 1s 2.8s both;
    z-index: 1;
    margin: auto;
    
.header {
    

    .logo {
        width: 50%;
        margin-top: 50px;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 15px;


    }

    .bloc__localisation {
        background: rgb(234, 234, 234);
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgb(221, 213, 213) inset;


        .bloc__localisation--logo {
            display: block;
            align-self: center;
            font-size: 24px;
        }

        .bloc__localisation--ville--main {
            font-size: 22px;
            padding-left: 7%;

            .bloc__localisation--ville {
            
            }
        }
    }





    .bloc__reservation {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        background: rgb(246, 246, 246);


        .bloc__reservation--titre {
            font-weight: bold;
            width: 70%;
            margin: auto;
            font-size: 50px;
            text-align: center;
        }

        .bloc__reservation--texte--main {
            width: 85%;
            margin: auto;
            text-align: center;


            .bloc__reservation--texte {
                font-size: 35px;
                font-weight: 100;
            }
        }

        .bloc__reservation--bouton {
            margin: auto;
            width: 42%;
            height: 85px;
            overflow: hidden;
            text-align: center;
            border-radius: 30px;
            font-size: 22px;
            background-image: linear-gradient(to top, $primary-color, $secondary-color);
            box-shadow: 4px 4px 8px rgb(184, 179, 179);
            
            &:hover {
                opacity: 0.85;
                box-shadow: 8px 8px 12px rgb(161, 157, 157);
                .bloc__reservation--bouton--texte--main {


                }
            }




            .bloc__reservation--bouton--link {
                text-decoration: none;
                font-size: 26px;
                height: 85px;
                border-radius: 30px;
                background: none;
                border: none;
                color: white;
                display: flex;
                align-items: center;
                cursor: pointer;
                width: 100%;
                justify-content: center;
            }
        }
    }
} //header//


.main {
    font-family: 'Roboto', sans-serif;
    


    .section__fonctionnement {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;

        .section__fonctionnement--titre {

        }

        .section__fonctionnement--flexbox {
            display: flex;
            flex-direction: column;
            width: 98%;
            background-color: white;
            
            & :hover {
                background-color: rgb(245, 237, 255);
                transition: background-color 250ms;
                .bloc__fonctionnement--logo {
                    color: $primary-color;
                }
            }
            .bloc__fonctionnement {
                width: 100%;
                display: flex;
                border-radius: 30px;
                height: 100px;
                margin-bottom: 30px;
                cursor: default;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);

                .bloc__fonctionnement--numero p  {
                    margin-top: 35px;
                    font-size: 22px;
                    position: relative;
                    right: 18px;
                    background: $primary-color;
                    padding: 8px;
                    text-align: center;
                    width: 80%;
                    border-radius: 100%;
                    color: white;
                }
                .bloc__fonctionnement--logo {
                    height: 35%;
                    font-size: 40px;
                    margin: auto;
                    margin-left: 25px;
                    transition: color 250ms;                }

                .bloc__fonctionnement--texte--main {
                    width: 80%;
                    font-size: 35px;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;
                    margin-left: 5%;
                    padding-left: 5%;
                    text-align: center;
                    align-items: center;
                    border-radius: 0 30px 30px 0;

                    .bloc__fonctionnement--texte {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }


    .section__restaurants {
        width: 90%;
        background: #F6F6F6;
        margin-top: 40px;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;

        .section__restaurants--titre {

        }

        .section__restaurants--flexbox {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 1600px;

            .card__restaurants {
                width: 80%;
                margin: auto;
                position: relative;
                background: white;
                margin-bottom: 50px;
                border-radius: 30px;
                height: 350px;
                box-shadow: 0px 4px 4px rgb(221, 213, 213);

                .card__restaurants--white--logo--before {
                    height: 12%;
                    position: absolute;
                    left: 75%;
                    top: 80%;
                    font-size: 250%;
                    z-index: 1;
                    
                        & :hover {
                            background-image: linear-gradient(to top, $primary-color, $secondary-color);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation-name: contour;
                            animation-duration: 200ms;

                        & ~ .card__restaurants--white--logo--after {
                            animation-name: coeur;
                            animation-duration: 200ms;
                            transform-origin: center;
                            animation-fill-mode: both;
                        }
                    
                        }
            
                    .card__restaurants--white--logo--after {
                        position: relative;
                        bottom: 44.5px;
                        right: -1px;
                        z-index: -1;
                        font-size: 90%;
                        background-image: linear-gradient(to top, $primary-color, $secondary-color);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: scale(0);
                        animation-fill-mode: both;
                        
                    }
                }

                .card__restaurants--lien {
                    text-decoration: none;
                    color: black;
                    object-fit: cover;


                    .card__restaurants--image {
                        width: 100%;
                        display: block;
                        height: 250px;
                        background-color: white;
                        object-fit: cover;
                        border-radius: 30px 30px 0 0;
                    }

                    .card__restaurants--image--etiquette {
                        color: green;
                        width: 15%;
                        padding: 5px;
                        text-align: center;
                        background: $third-color;
                        border-radius: 4px;
                        position: absolute;
                        right: 5%;
                        margin-top: 18px;
                    }
                    .card__restaurants--white {
                        display: flex;    
                        height: 100px;
                        width: 75%;
                        border-radius: 30px;
                        align-items: center;

                        .card__restaurants--white--left {
                            font-size: 25px;
                            padding-left: 20px;
                            width: 75%;

                            .card__restaurants--white--left--ligne1 {
                                margin-bottom: 0;
                                margin-top: 0;
                                padding-top: 0;
                            }
                            .card__restaurants--white--left--ligne2 {
                                padding-top: 0px;
                                margin-top: 5px;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }    
                
                }

            }
        }
    }


} //main//


} //bloc_page//




} //body//

} //media queries tab//





@media screen and (min-width: 992px) {

.body-accueil {
    margin: auto; 



.bloc_page {
    animation: apparition-page 1s 2.8s both;
    z-index: 1;
    max-width: 992px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    
.header {
    

    .logo {
        width: 50%;
        margin-top: 50px;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 15px;


    }

    .bloc__localisation {
        background: rgb(234, 234, 234);
        display: flex;
        width: 30%;
        margin: auto;
        justify-content: center;
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        border-radius: 25px;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgb(221, 213, 213) inset;


        .bloc__localisation--logo {
            display: block;
            align-self: center;
            font-size: 28px;
        }

        .bloc__localisation--ville--main {
            font-size: 24px;
            padding-left: 7%;

            .bloc__localisation--ville {
            
            }
        }
    }





    .bloc__reservation {
        font-family: 'Roboto', sans-serif;
        display: flex;
        width: 100%;
        border-radius: 25px;
        margin-top: 50px;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 50px;
        background: rgb(246, 246, 246);


        .bloc__reservation--titre {
            font-weight: bold;
            width: 30%;
            margin: auto;
            font-size: 40px;
            text-align: center;
            border-left: solid 2px black;
        }

        .bloc__reservation--texte--main {
            width: 30%;
            margin: auto;
            text-align: center;


            .bloc__reservation--texte {
                font-size: 35px;
                font-weight: 100;
            }
        }

        .bloc__reservation--bouton {
            margin: auto;
            width: 25%;
            height: 70px;
            overflow: hidden;
            text-align: center;
            border-radius: 30px;
            background-image: linear-gradient(to top, $primary-color, $secondary-color);
            box-shadow: 4px 4px 8px rgb(184, 179, 179);
            
            &:hover {
                opacity: 0.85;
                box-shadow: 8px 8px 12px rgb(161, 157, 157);
                .bloc__reservation--bouton--texte--main {

                }
            }




            .bloc__reservation--bouton--link {
                text-decoration: none;
                font-size: 24px;
                height: 70px;
                border-radius: 30px;
                background: none;
                border: none;
                color: white;
                display: flex;
                align-items: center;
                cursor: pointer;
                width: 100%;
                justify-content: center;
            }
        }
    }
} //header//


.main {
    font-family: 'Roboto', sans-serif;
    


    .section__fonctionnement {
        margin-top: 40px;
        margin: auto;
        width: 70%;

        .section__fonctionnement--titre {
            text-decoration: overline 3px;
            margin-top: 40px;
        }

        .section__fonctionnement--flexbox {
            display: flex;
            flex-direction: column;
            width: 98%;
            background-color: white;
            margin-left: 20px;
            
            & :hover {
                background-color: rgb(245, 237, 255);
                transition: background-color 250ms;
                .bloc__fonctionnement--logo {
                    color: $primary-color;
                }
            }
            .bloc__fonctionnement {
                width: 100%;
                display: flex;
                border-radius: 30px;
                height: 100px;
                margin-bottom: 30px;
                cursor: default;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);

            


                .bloc__fonctionnement--numero {

                }
                .bloc__fonctionnement--numero p  {
                    margin-top: 35px;
                    font-size: 24px;
                    position: relative;
                    right: 18px;
                    background: $primary-color;
                    padding: 8px;
                    text-align: center;
                    width: 80%;
                    border-radius: 100%;
                    color: white;
                }
                .bloc__fonctionnement--logo {
                    height: 35%;
                    font-size: 40px;
                    margin: auto;
                    margin-left: 25px;
                    transition: color 250ms;                }

                .bloc__fonctionnement--logo--bis {
                    font-size: 28px;
                    padding-top: 15px;
                    width: 7%;
                }

                .bloc__fonctionnement--texte--main {
                    width: 80%;
                    font-size: 35px;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    border-radius: 0 30px 30px 0;
                    flex-wrap: wrap;
                    margin: auto;
                    align-items: center;
                    margin-left: 5%;
                    padding-left: 5%;

                    .bloc__fonctionnement--texte {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }


    .section__restaurants {
        width: 70%;
        background: #F6F6F6;
        margin-top: 60px;
        margin: auto;
        border-radius: 25px 25px 0 0;
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;

        .section__restaurants--titre {
            text-decoration: overline 3px;

        }

        .section__restaurants--flexbox {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: auto;
            width: 100%;

            .card__restaurants {
                width: 100%;
                position: relative;
                background: white;
                margin-bottom: 50px;
                border-radius: 30px;
                height: 350px;
                box-shadow: 0px 4px 4px rgb(221, 213, 213);

                .card__restaurants--white--logo--before {
                    height: 12%;
                    position: absolute;
                    left: 75%;
                    top: 80%;
                    font-size: 200%;
                    z-index: 1;
                    
                        & :hover {
                            background-image: linear-gradient(to top, $primary-color, $secondary-color);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation-name: contour;
                            animation-duration: 200ms;

                        & ~ .card__restaurants--white--logo--after {
                            animation-name: coeur;
                            animation-duration: 200ms;
                            transform-origin: center;
                            animation-fill-mode: both;
                        }
                    
                        }
            
                    .card__restaurants--white--logo--after {
                        position: relative;
                        bottom: 35px;
                        right: -1px;
                        z-index: -1;
                        font-size: 90%;
                        background-image: linear-gradient(to top, $primary-color, $secondary-color);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transform: scale(0);
                        animation-fill-mode: both;
                        
                    }
                }

                .card__restaurants--lien {
                    text-decoration: none;
                    color: black;
                    object-fit: cover;

                    .card__restaurants--image {
                        width: 100%;
                        display: block;
                        height: 250px;
                        background-color: white;
                        object-fit: cover;
                        border-radius: 30px 30px 0 0;
                    }

                    .card__restaurants--image--etiquette {
                        color: green;
                        width: 15%;
                        padding: 5px;
                        text-align: center;
                        background: $third-color;
                        border-radius: 4px;
                        position: absolute;
                        right: 5%;
                        top: 5%;
                        
                    }
                    .card__restaurants--white {
                        display: flex;
                        width: 75%;
                        margin-top: 0;
                        height: 25%;
                        border-radius: 30px;
                        align-items: center;

                        .card__restaurants--white--left {
                            font-size: 22px;
                            padding-left: 20px;
                            width: 75%;

                            .card__restaurants--white--left--ligne1 {
                                margin-bottom: 0;
                                margin-top: 0;
                                padding-top: 0;
                            }
                            .card__restaurants--white--left--ligne2 {
                                padding-top: 0px;
                                margin-top: 5px;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }    
                
                }

            }
        }
    }


} //main//


} //bloc_page//




} //body//

} //media queries desktop//