@import "../Utils/_variables.scss";
@import "../Layouts/_form.scss";

@media screen and (max-width: 600px) {
    


@for $i from 1 through 3 {
    .main__section--flexbox--bloc:nth-child(#{$i}) {
        animation-delay: 300ms * $i;
    }
}

.body-restaurant {
    width: 100%;
    margin: auto;


.bloc_page {


.header {

    .header__flexbox--top {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: white;

        .header__arrow {
            font-size: 160%;
            width: 30%;
            .header__arrow--link {
                margin-left: 30px;
                text-decoration: none;
                color: black;
            }
        }
        .header__logo {
            width: 40%;
            margin-top: 50px;
            display: block;
            margin: auto;
            margin-left: 0;
        }
    }
    .header__image {
        width: 100%;
        height: 300px;
        margin: auto;

        .header__image--jpg {
            height: 340px;
            margin: auto;
            width: 110%;
            position: relative;
            z-index: -1;
        }
    }
}

.main {
    border-radius: 40px 40px 0 0;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 80px;

    .main__flexbox--top {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;

        .main__flexbox--top--titre {
            font-family: 'Shrikhand', cursive;
            font-size: 180%;

        }
        .main__flexbox--top--icon {
            padding-top: 25px;
            font-size: 200%;
            margin-right: 40px;
        }
        .main__flexbox--top--icon--bis {
            margin-left: 55%;
        }
    }

    .main__section {

        .main__section--titre {
            width: 8%;
            border-bottom: $third-color 3px solid;
        }
        .main__section--flexbox {
            display: flex;
            flex-direction: column;

            .main__section--flexbox--bloc {
                display: flex;
                border-radius: 20px;
                background: white;
                margin-bottom: 20px;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);
                font-size: 140%;
                animation-name: scaling;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                height: 115px;
                overflow: hidden;

                &:hover {
                   
                    .main__section--flexbox--bloc--check {
                        animation: check 600ms;
                        animation-fill-mode: forwards;
                       
                    } 
                    .main__section--flexbox--bloc--right {
                        animation: check-texte 420ms;
                        animation-delay: 180ms;
                        animation-fill-mode: both;
                    }
                    #check {
                        animation: check-rotate 600ms;
                        animation-delay: 200ms;
                    }
                    
                }



                .main__section--flexbox--bloc--left {
                    margin-left: 2%;
                    width: 95%;
                    .main__section--flexbox--bloc--left--1 {
                        font-weight: bold;
                    }
                    .main__section--flexbox--bloc--left--2 {
                        font-size: 80%;
                    }
                }
                .main__section--flexbox--bloc--right {
                    margin-top: 45px;
                    margin-right: 5%;
                    position: relative;
                    left: 120px;
                }

                .main__section--flexbox--bloc--check {
                    width: 20%;
                    padding-top: 5%;
                    padding-left: 6%;
                    font-size: 200%;
                    color: white;
                    position: relative;
                    left: 120px;
                    height: 117px;
                    background-color: $third-color;
                }
            }




        
        }
    }

    .main__bouton {
        height: 60px;
        width: 50%;
        margin: auto;
        border-radius: 25px;
        margin-top: 30px;
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        box-shadow: 4px 4px 8px rgb(184, 179, 179);

        &:hover {
                    opacity: 0.85;
                    box-shadow: 8px 8px 12px rgb(161, 157, 157);
        }
        .main__bouton--link {

            .main__bouton--texte--main {
                height: 60px;
                .main__bouton--texte {
                    background: transparent;
                    border: none;
                    margin-top: 5px;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 140%;
                    cursor: pointer;
                    width: 100%;
                    height: 50px;
                    
                }
            }
        }


    }
}


} //bloc_page//





} //body//

} //media queries//





@media screen and (min-width: 601px) and (max-width: 768px) {
    


@for $i from 1 through 3 {
    .main__section--flexbox--bloc:nth-child(#{$i}) {
        animation-delay: 300ms * $i;
    }
}

.body-restaurant {
    width: 100%;
    margin: auto;


.bloc_page {
    max-width: 768px;
    margin: auto;

.header {

    .header__flexbox--top {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: white;

        .header__arrow {
            font-size: 160%;
            width: 30%;
            .header__arrow--link {
                margin-left: 30px;
                text-decoration: none;
                color: black;
            }
        }
        .header__logo {
            width: 40%;
            margin-top: 50px;
            display: block;
            margin: auto;
            margin-left: 0;
        }
    }
    .header__image {
        width: 100%;
        height: 360px;
        margin: auto;

        .header__image--jpg {
            height: 400px;
            margin: auto;
            width: 110%;
            position: relative;
            z-index: -1;
        }
    }
}

.main {
    border-radius: 40px 40px 0 0;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 80px;

    .main__flexbox--top {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;

        .main__flexbox--top--titre {
            font-family: 'Shrikhand', cursive;
            font-size: 180%;

        }
        .main__flexbox--top--icon {
            padding-top: 25px;
            font-size: 200%;
            margin-right: 40px;
        }
        .main__flexbox--top--icon--bis {
            margin-left: 55%;
        }
    }

    .main__section {
        width: 90%;
        margin: auto;
        .main__section--titre {
            width: 8%;
            border-bottom: $third-color 3px solid;
        }
        .main__section--flexbox {
            display: flex;
            flex-direction: column;

            .main__section--flexbox--bloc {
                display: flex;
                border-radius: 20px;
                background: white;
                margin-bottom: 20px;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);
                font-size: 140%;
                animation-name: scaling;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                height: 115px;
                overflow: hidden;

                &:hover {
                    
                    .main__section--flexbox--bloc--check {
                        animation: check 600ms;
                        animation-fill-mode: both;
                        
                    } 
                    .main__section--flexbox--bloc--right {
                        animation: check-texte 420ms;
                        animation-delay: 180ms;
                        animation-fill-mode: both;
                    }
                    #check {
                        animation: check-rotate 600ms;
                        animation-delay: 200ms;
                    }
                    
                }



                .main__section--flexbox--bloc--left {
                    margin-left: 2%;
                    width: 95%;
                    .main__section--flexbox--bloc--left--1 {
                        font-weight: bold;
                    }
                    .main__section--flexbox--bloc--left--2 {
                        font-size: 80%;
                    }
                }
                .main__section--flexbox--bloc--right {
                    margin-top: 45px;
                    margin-right: 5%;
                    position: relative;
                    left: 120px;
                }

                .main__section--flexbox--bloc--check {
                    width: 20%;
                    padding: 5%;
                    padding-right: 4%;
                    font-size: 200%;
                    color: white;
                    position: relative;
                    left: 155px;
                    height: 117px;
                    background-color: $third-color;
                }
            }




        
        }
    }

    .main__bouton {
        height: 70px;
        width: 42%;
        font-size: 120%;
        margin: auto;
        border-radius: 25px;
        margin-top: 30px;
        padding-top: 10px;
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        box-shadow: 4px 4px 8px rgb(184, 179, 179);

        &:hover {
                    opacity: 0.85;
                    box-shadow: 8px 8px 12px rgb(161, 157, 157);
        }
        .main__bouton--link {

            .main__bouton--texte--main {
                height: 60px;
                .main__bouton--texte {
                    background: transparent;
                    border: none;
                    margin-top: 5px;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 140%;
                    cursor: pointer;
                    width: 100%;
                    height: 50px;
                    
                }
            }
        }


    }
}


} //bloc_page//





} //body//

} //media queries tab//





@media screen and (min-width: 769px) {
    


@for $i from 1 through 3 {
    .main__section--flexbox--bloc:nth-child(#{$i}) {
        animation-delay: 300ms * $i;
    }
}

.body-restaurant {
    width: 100%;
    margin: auto;


.bloc_page {
    max-width: 992px;
    margin: auto;

.header {

    .header__flexbox--top {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: white;

        .header__arrow {
            font-size: 160%;
            width: 30%;

            .header__arrow--link {
                margin-left: 30px;
                text-decoration: none;
                color: black;
                border-right: 3px dotted black;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .header__logo {
            width: 40%;
            margin-top: 50px;
            display: block;
            margin: auto;
            margin-left: 0;
        }
    }
    .header__image {
        width: 55%;
        height: 250px;
        margin: auto;
        margin-bottom: 35px;
        border-radius: 25px;

        .header__image--jpg {
            height: 250px;
            padding: 6px;
            margin: auto;
            border: 4px solid black;
            width: 100%;
            border-radius: 25px;
            position: relative;
            z-index: -1;
        }
    }
}

.main {
    border-radius: 40px 40px 0 0;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 80px;

    .main__flexbox--top {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;

        .main__flexbox--top--titre {
            font-family: 'Shrikhand', cursive;
            font-size: 180%;

        }
        .main__flexbox--top--icon {
            padding-top: 25px;
            font-size: 200%;
        }
        .main__flexbox--top--icon--bis {
            margin-left: 55%;
        }
    }

    .main__section {
        width: 100%;
        margin: auto;
        .main__section--titre {
            width: 8%;
            border-bottom: $third-color 3px solid;
        }
        .main__section--flexbox {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .main__section--flexbox--bloc {
                display: flex;
                border-radius: 20px;
                background: white;
                margin-bottom: 20px;
                box-shadow: 4px 4px 8px rgb(221, 213, 213);
                font-size: 140%;
                animation-name: scaling;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                height: 115px;
                overflow: hidden;
                width: 30%;

                &:hover {
                    
                    .main__section--flexbox--bloc--check {
                        animation: check 600ms;
                        animation-fill-mode: forwards;
                        
                    } 
                    .main__section--flexbox--bloc--right {
                        animation: check-texte-desk 420ms;
                        animation-delay: 180ms;
                        animation-fill-mode: both;
                    }
                    #check {
                        animation: check-rotate 600ms;
                        animation-delay: 200ms;
                    }
                    
                }



                .main__section--flexbox--bloc--left {
                    margin-left: 2%;
                    width: 95%;
                    .main__section--flexbox--bloc--left--1 {
                        font-weight: bold;
                        font-size: 70%;
                    }
                    .main__section--flexbox--bloc--left--2 {
                        font-size: 65%;
                    }
                }
                .main__section--flexbox--bloc--right {
                    margin-top: 45px;
                    margin-right: 12%;
                    font-size: 65%;
                    position: relative;
                    left: 60px;
                }

                .main__section--flexbox--bloc--check {
                    width: 20%;
                    padding-top: 13%;
                    padding-left: 4%;
                    font-size: 120%;
                    color: white;
                    position: relative;
                    left: 120px;
                    height: 117px;
                    background-color: $third-color;
                }
            }




        
        }
    }

    .main__bouton {
        height: 75px;
        width: 35%;
        margin: auto;
        border-radius: 25px;
        margin-top: 30px;
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        box-shadow: 4px 4px 8px rgb(184, 179, 179);

        &:hover {
                    opacity: 0.85;
                    box-shadow: 8px 8px 12px rgb(161, 157, 157);
        }
        .main__bouton--link {

            .main__bouton--texte--main {
                height: 75px;

                .main__bouton--texte {
                    background: transparent;
                    border: none;
                    margin-top: 10px;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 140%;
                    cursor: pointer;
                    width: 100%;
                    height: 50px;
                    
                }
            }
        }


    }
}


} //bloc_page//





} //body//

} //media queries desktop//






